@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
  background: url("../../public/images/nav2.jpeg") no-repeat;
  background-position: center; /* You can adjust this based on your preference */
  background-size: cover;
  object-fit: cover;
}

.custom-image {
  background: url("../../public/images/piic.avif") no-repeat;
  background-position: center; /* You can adjust this based on your preference */
  background-size: cover;
}
